@import 'normalize';
@import 'foundation.min';
@import url('//fonts.googleapis.com/css?family=Pacifico');
@import url('//fonts.googleapis.com/css?family=Oswald:400,300');
@import url('//fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');




body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: seagreen ;
}

.gradient-bkg{
	background-size: cover;
	background: linear-gradient(right top, coral, royalblue);
	margin-top: -1px;
	padding-top: 1px;
}

// *{
// 	transition: all .5s;
// }

.map{
	position: relative;
	top:-250px;
	width: 600px;
	height: 300px;
	left:calc( 50% - 300px);
	z-index: 999;
	border:3px solid tomato;
}
.nascondi{
	position: absolute;
	top: -1500px;
	display: hide;
	min-height: 0vh;
	max-height: 100vh;
	opacity: 0;
	transition: 1s opacity;

	&.show{
		top: 0px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: rgba(255, 255, 255, 1);
		z-index: 999;
		opacity: 1;
		


		.row .columns{
			transition: 1s transform, 1s opacity;
			transform: translateY(0px);
			opacity: 1;
		}

		.close{
			display: block;
			position: fixed;
			z-index: 999;
		}
	}

	.row{
		padding: 50px 0;
		max-width: 70rem;
		.columns{
			transform: translateY(50px);
			opacity: 0;
			
		}
	}

	.close{
		display: none;
	}

	.columns .row{
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 0;
	}

	

	p{
		font-size: 1.2rem;
	}
}


.inline-buttons{
	.submit-border{
		max-width: 50%;
		min-width: 50%;
	}
}


.review-head{
	.fa-home{
		margin-right: 10px;
		color: white;
		position: relative;
		bottom: -4px;
	}
	.centered{
		width: 170px;
		margin: 20px auto 0px;
	}
}

.review{
	position: relative;
	.report{
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: .8rem;
		background: deepskyblue;
		color: white;
		padding: 3px 10px;
		border-radius:10px;
		border: 2px solid white;
		transition: all .5s;
		opacity: 0;
		&.visibile{
			opacity: 1;
		}

		&:hover{
			color: deepskyblue;
			background: white;
			border: 2px solid deepskyblue;
		}

		// &.ng-hide-add-active,
		// &.ng-hide-add{
		// 	opacity: 1;
		// }

		// &.ng-hide{
		// 	opacity: 0;
		// }
	}


}

form{
	.submit-border{
		min-width: 40%;
		max-width: 50%;
	}

	&.bottom{
		position: relative;
		width: 80%;
		margin: 0 auto;

		ul.inline-list{
			margin: 20px auto;
			position: relative;
			max-width: 280px;
			min-width: 220px;

			.fa{
				font-size: 2.5rem;
			}
		}
	}
}



.close{
	position: absolute;
	top: 10px;
	color: #ccc;
	right: 10px;
	font-size: 3rem;
	font-family: "Lato",sans-serif;
	font-weight: 400;
	cursor: pointer;
	z-index: 999;

	&:hover{
		color:black;
		border-color: black;
	}
}




.full{
	width: 100vw;
	min-height: 60vh;
	margin: 0px;
	padding: 0px;
	clear: both;
	margin-top: -1px;
	padding-top: 1px;
	overflow-x: hidden;
	&.insert{
		min-height: 40vh;
		margin-bottom: 40px;
	}
}

.input-main{
	padding: 50px !important;
	width: 100% !important;
	font-size: 2rem !important;
	font-weight: 200 !important;
	font-family: sans-serif  !important;
	margin: auto !important;
	display: block !important;
	background-color: transparent  !important;
	color: white  !important;
	border: 0px  !important; 
	border-bottom: 1px solid white  !important;
	padding-bottom: 15px !important;
	box-sizing:border-box !important;
	box-shadow: none !important;
	margin: 0 auto !important;
	-webkit-appearance: none !important;
    -webkit-border-radius:0 !important; 
    height: 5rem !important;
}

.search .input-main{
	font-size: 1.2rem !important;
	width: 90% !important;
	color:black !important;
	border-bottom: 1px solid #ccc !important;
	display: inline-block !important;
	position: relative;
	right: -25px;
}

.search .customer-list li{
	background: rgba(0, 0, 0, 0.1);
}

.search .submit-border-home{
	/*color: deepskyblue !important;*/
	background: deepskyblue !important;
}

.search .submit-border-home:hover{
	border-color: yellowgreen !important;
	color: deepskyblue !important;
}
.search .fa{
	position: relative;
	left: -20px;
}



.row.search:first-of-type{
	padding-top: 50px;
}

.row.search{
	// min-height: 300px;
	min-height: 38vh;
}

input:focus{
	outline: none !important;
}

.input-insert{
	padding: 20px !important;
	font-size: 3rem !important;
	-webkit-appearance: none !important;
    -webkit-border-radius:0 !important; 
    color: black !important;
}

.submit-insert{
	display: block !important;
	padding: 20px !important;
	font-size: 4rem !important;
	margin: 0 auto !important;
	text-align: center !important;
	color: white !important;
	background-color: #00BFFF !important;
	width: 70% !important;
	border: none !important;
	-webkit-appearance: none !important;
    -webkit-border-radius:0 !important; 
    border-radius:0 !important;
}

.submit-border{
	border: 2px solid white !important;
	border-radius: 5px !important;
	color: white !important;
	/*background: -webkit-linear-gradient(right top, DeepSkyBlue, lightgreen) !important;*/
	background: deepskyblue !important;
	font-size: 2rem !important;
	display: block !important;
	padding: 10px !important;
	transition: all .5s !important;
	margin: 50px auto !important;
	opacity: 1 !important;
	text-align: center !important;
	-webkit-appearance: none !important;
}


.submit-border-home{
	border: 2px solid white !important;
	border-radius: 5px !important;
	color: white !important;
	/*background: -webkit-linear-gradient(right top, DeepSkyBlue, lightgreen) !important;*/
	background: transparent !important;
	font-size: 1.5rem !important;
	display: block !important;
	padding: 10px !important;
	transition: all .5s !important;
	margin: 50px auto !important;
	opacity: 1 !important;
	text-align: center !important;
	-webkit-appearance: none !important;
}

.submit-border-home:hover{
	background: white !important;
	color: deepskyblue !important;
}

.submit-border:hover{
	background: white !important;
	color: DeepSkyBlue  !important;
	border: 2px solid deepskyblue !important;
}


h1{
	text-align: center;
	font-family: sans-serif;
	font-size: 3rem;
}

h2{
	text-align: center;
	font-family: sans-serif;
	font-size: 2.5rem;
}
p{
	/*width: 80%;*/
	margin-left: auto;
	margin-right: auto;
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p small{
	font-size: 1.2rem;
	/*color: #0E464E;*/
	color: white;

	.nascondi &{
		color: #ccc;
		font-size: .9rem;
	}

	&.comment-info{
		color: #ccc;
		font-size: .8rem;
		margin-top: -10px;
	}
}



.center{
	text-align: center;
	margin-top: .5rem;
}

.inline-list > li:first-child{
	margin-left: 0;
}

.main-title{
	font-size: 4rem;
	font-weight: 300;
	color: white;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Pacifico', cursive;
}

#title{
	margin-top: 15vh;
	margin-bottom: 10vh;
	transform: rotate(-5deg);
	-webkit-transform: -webkit-rotate(-5deg);
}

.customer-list{
	list-style: none;
	max-height: 200px;
	overflow: scroll;
	overflow-x: hidden;
	list-style-position: none;
	padding-left: 0;
	margin: 0;
}

.customer-list li{
	width: 80%;
	background-color: rgba(255,255,255,0.5);
	font-size: 1rem;
	padding: 5px;
	box-sizing: border-box;
	font-family: sans-serif;
	color: white;
	padding-left: 50px;
	margin: 0 auto;
}


.comment-section{
	padding-top:40px;
}

// angular animate


.comment-list{
	list-style: none;
	list-style-position: none;
	padding-left: 0;
	margin: 0;
}

.comment-list p{
	font-size:1.2rem;
}



.comment-list  > li{
	width: 70%;
	background-color: rgba(255,255,255,0.5);
	font-size: 2rem;
	padding: 10px;
	box-sizing: border-box;
	font-family: sans-serif;
	color: black;
	padding-left: 50px;
	margin: 0 auto;
}

.little{
	text-align: left;
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.company-name{
	font-size: 4rem;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	margin-top: 10vh;
	margin-bottom: 0rem;

}
.bottom{
	margin-top: 10vh;
	bottom: 0px;
	width: 100%;
}

.full-scroll{
	min-height: 50vh;
	max-height: 60vh;
}

.bkg-white{
	background-color: rgba(255,255,255,0.8);
}


/*font awesome*/

.fa-star{
	color: yellowgreen;
}

.fa-thumbs-up,
.fa-thumbs-down,
.fa-lightbulb-o,
.fa-exclamation-triangle{
	color: coral;
	font-size: 3rem;
}


@media (max-width: 600px){

	html{
		font-size: 80%;
	}
	.input-main{
		padding: 30px;
		font-size: 2.5rem;
		background-color: rgba(255,255,255,0.3);
		border: none;
	}

	.input-insert{
		font-size: 2rem;
		padding: 10px;
	}

	p{
		font-size: 1.2rem;
	}

	.customer-list li{
		width: 100%;
		font-size: 1.4rem;
	}

	.comment-list li{
	font-size: 2.5rem;
	}

	.fa-star,
	.fa-star-o{
	font-size: 1.5rem;
	}


	.input-main{
	width: 100%;
	}
	.submit-insert{
	width: 100%;
	}
	.full{
		overflow: hidden;
	}

	.full-scroll{
		max-height: 500px;
		min-height: 300px;
	}

	form.bottom{

		ul.inline-list{
			margin: 20px auto;
			position: relative;
			max-width: 220px;
			min-width: 220px;

		}
	}

	.review-head{
		.fa{
			bottom:-2px;
			font-size:1.5rem;
		}
	}
}
