		<div class="review">
		<div class="report" ng-show="hover" ng-click="click()">report</div>
		<!-- <ul class="inline-list">
			<li ng-repeat="point in [1,2,3,4,5]">
				<span class="fa fa-star" ng-show="point<= rev.rating"></span>
				<span class="fa fa-star-o" ng-show="point > rev.rating"></span>
			</li>
		</ul> -->
		<stars points={{rev.rating}}></stars>
		<p><a ng-href="{{rev.address}}" target="_blank">{{rev.project}}</a></p>
		<p>{{rev.text}}</p>
		<p><small class="comment-info">Added the {{rev.dateAdded | date}} <a href="//facebook.com/{{rev.user.id}}" target='_blank'>by {{rev.user.name}}</a></small></p>
		<hr>
		</div>