<div class="gradient-bkg full-scroll">
	<section class="review-head"><a ng-href="#/"><h1 class="main-title little" >Rate My Customer</h1></a>
<h1 class="company-name">{{aziendaView.name}}</h1>
<p class="center"><small>{{aziendaView.address}}</small></p></section>
</div>
<section class="comment-section">
<ul class="comment-list no-scroll">
	<review ng-repeat="recensione in aziendaView.comments" elem="recensione"></review>
</ul>

<button class="submit-border" ng-hide="showInsertReview" ng-click="showInsertReview=true">Insert Review</button>
<form class="bottom" ng-show="showInsertReview" ng-submit="insertReview()">
<div class="close" ng-click="showInsertReview = false">&times;</div>
<input type="text" class="input-main input-insert bkg-white" placeholder="Project" ng-model="newReview.project">
<input type="text" class="input-main input-insert bkg-white" placeholder="Link" ng-model="newReview.address">
<input type="text" class="input-main input-insert bkg-white" placeholder="Review" ng-model="newReview.text">

<ul class="inline-list">
	<li ng-repeat="point in [1,2,3,4,5]" ng-click="newReview.rating = point">
		<span class="fa fa-star" ng-show="point<= newReview.rating"></span>
		<span class="fa fa-star-o" ng-show="point > newReview.rating"></span>
	</li>
</ul>

{{newReview.rating}}

<input type="submit" placeholder="Insert" class="submit-insert" >
</form>
</section>

