<div class="gradient-bkg full-scroll">
	<section class="review-head"><a ng-href="#/"><h1 class="main-title little" >Rate My Customer</h1></a>
<h1 class="company-name">{{aziendaView.name}}</h1>
<p class="center"><span class="fa fa-home"></span><small>{{aziendaView.address}}</small></p></section>
</div>
<section class="comment-section">
<ul class="comment-list no-scroll">
	<li ng-repeat="recensione in aziendaView.comments"><review  rev="recensione" report="rep(value)"></review></li>
</ul>

<div class="inline-buttons">
<button class="submit-border" ng-hide="showInsertReview  || loggedIn == false"  ng-click="showInsertReview=true">Insert Review</button>
<button class="submit-border" ng-click="login()" ng-hide="loggedIn">Login to comment</button>
<button class="submit-border" ng-click="logout()" ng-show="loggedIn && showInsertReview == false">Logout</button>
</div>
<form class="bottom" ng-show="showInsertReview && loggedIn" ng-submit="insertReview()">
<div class="close" ng-click="showInsertReview = false">&times;</div>
<input type="text" class="input-main input-insert bkg-white" placeholder="Project" ng-model="newReview.project">
<input type="text" class="input-main input-insert bkg-white" placeholder="Link" ng-model="newReview.address">
<input type="text" class="input-main input-insert bkg-white" placeholder="Review" ng-model="newReview.text">

<!-- <ul class="inline-list">
	<li ng-repeat="point in [1,2,3,4,5]" ng-click="newReview.rating = point">
		<span class="fa fa-star" ng-show="point<= newReview.rating"></span>
		<span class="fa fa-star-o" ng-show="point > newReview.rating"></span>
	</li>
</ul> -->

<stars ng-model="newReview.rating"></stars>


<input type="submit" placeholder="Insert" class="submit-border" >
</form>

</section>


